.drawerAccount:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-JcPW8Eh959DY);
}
.drawerAccount__drawer :global(.ant-drawer-header) {
  background: var(--token-x2JQ1lipd_zU);
  outline: none;
}
.drawerAccount__drawer :global(.ant-drawer-mask) {
  background: var(--token-kXRwbl0WkTqH);
  outline: none;
}
.drawerAccount__drawer :global(.ant-drawer-content-wrapper) {
  min-width: 400px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: none;
}
.drawerAccount__drawer :global(.ant-drawer-close) {
  position: absolute;
  top: 0px;
  right: 0px;
  height: auto;
  bottom: auto;
  width: auto;
  left: auto;
  color: var(--token-Tk0TTsJRNx11);
  cursor: pointer;
  margin-top: 18px;
  outline: none;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .drawerAccount:global(.__wab_instance) {
    width: 100%;
    max-width: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .drawerAccount__drawer :global(.ant-drawer-content-wrapper) {
    width: auto;
    outline: none;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__nWvi7 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
  border-radius: 4px;
  padding: 10px 8px;
}
.link__nWvi7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__nWvi7 > :global(.__wab_flex-container) > *,
.link__nWvi7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__nWvi7 > :global(.__wab_flex-container) > picture > img,
.link__nWvi7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.drawerAccount .link__nWvi7:hover {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-jULyYuL3e-TL);
}
.drawerAccountglobal_mode_darkMode .linkglobal_mode_darkMode__nWvi7Mcwt:hover {
  background: var(--token-x2JQ1lipd_zU);
}
.svg__tvAcH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text___5S6DX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.link__g96Y8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
  border-radius: 4px;
  padding: 10px 8px;
}
.link__g96Y8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__g96Y8 > :global(.__wab_flex-container) > *,
.link__g96Y8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__g96Y8 > :global(.__wab_flex-container) > picture > img,
.link__g96Y8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.drawerAccount .link__g96Y8:hover {
  color: var(--token-jULyYuL3e-TL);
  background: var(--token-DbGdjBpQ6R_X);
}
.drawerAccountglobal_mode_darkMode .linkglobal_mode_darkMode__g96Y8Mcwt:hover {
  background: var(--token-x2JQ1lipd_zU);
}
.svg__eYesc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text___7Rr6K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.link__otuzJ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
  border-radius: 4px;
  padding: 10px 8px;
}
.link__otuzJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__otuzJ > :global(.__wab_flex-container) > *,
.link__otuzJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__otuzJ > :global(.__wab_flex-container) > picture > img,
.link__otuzJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.drawerAccount .link__otuzJ:hover {
  background: var(--token-DbGdjBpQ6R_X);
  color: var(--token-jULyYuL3e-TL);
}
.drawerAccountglobal_mode_darkMode .linkglobal_mode_darkMode__otuzJMcwt:hover {
  background: var(--token-x2JQ1lipd_zU);
}
.svg__vp6IQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text__cUOkp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.link__kukU {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  min-width: 0;
  border-radius: 4px;
  padding: 10px 8px;
}
.link__kukU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kukU > :global(.__wab_flex-container) > *,
.link__kukU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kukU > :global(.__wab_flex-container) > picture > img,
.link__kukU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.drawerAccount .link__kukU:hover {
  color: var(--token-DxfYAkV7QVUJ);
  background: var(--token-DbGdjBpQ6R_X);
}
.drawerAccountglobal_mode_darkMode .linkglobal_mode_darkMode__kukUMcwt:hover {
  background: var(--token-x2JQ1lipd_zU);
}
.svg__lq89V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text__ar7Ez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.text__sq7VK {
  color: var(--token-Tk0TTsJRNx11);
}
