.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: #ffffff00;
  cursor: pointer;
  border-radius: 6px;
  padding: 12px 20px;
  border: 2px solid var(--token-iWQmILTzm3N0);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 6px;
}
.rootshape_round {
  border-radius: 999px;
  padding: 12px 20px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 4px 8px;
}
.rootcolor_white {
  background: #ffffff;
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_linkDefaultText {
  background: none;
  border-style: none;
}
.rootcolor_purple {
  background: none;
}
.rootcolor_link {
  background: #ffffff00;
  border-style: none;
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon_shape_rounded {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.root:hover {
  background: none;
  border-width: 2px;
}
.rootcolor_clear:hover {
  background: #e9e9e6;
}
.rootcolor_linkDefaultText:hover {
  background: none;
}
.rootcolor_link:hover {
  background: #ffffff00;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px var(--token-ukwKZMvHWx7C);
  outline: none;
  border-width: 2px;
}
.rootcolor_linkDefaultText:focus-within {
  background: none;
  outline: none;
}
.rootcolor_link:focus-within {
  background: #ffffff00;
  outline: none;
}
.root___focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px var(--token-ukwKZMvHWx7C);
  outline: none;
  border-width: 2px;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_linkDefaultText {
  color: #0091ff;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.rootshowStartIcon:hover .slotTargetStartIconshowStartIcon {
  color: var(--token-O-63NKRcNhLJ);
}
.rootcolor_linkDefaultText:hover .slotTargetStartIconcolor_linkDefaultText {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.svg__imEDo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-iWQmILTzm3N0);
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.slotTargetChildren {
  color: var(--token-jULyYuL3e-TL);
  white-space: pre;
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_linkDefaultText {
  color: var(--token-kzT08fQBAHgz);
}
.slotTargetChildrencolor_link {
  color: var(--token-DxfYAkV7QVUJ);
}
.root:hover .slotTargetChildren {
  color: var(--token-DxfYAkV7QVUJ);
}
.rootcolor_linkDefaultText:hover .slotTargetChildrencolor_linkDefaultText {
  color: var(--token-DxfYAkV7QVUJ);
}
.rootcolor_link:hover .slotTargetChildrencolor_link {
  color: #0081f1;
}
.root:focus-within .slotTargetChildren {
  color: var(--token-jULyYuL3e-TL);
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText {
  color: var(--token-DxfYAkV7QVUJ);
}
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > *,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > :global(.__wab_slot)
  > *,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > picture
  > img,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_linkDefaultText:focus-within
  .slotTargetChildrencolor_linkDefaultText
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:focus-within .slotTargetChildrencolor_link {
  color: var(--token-DxfYAkV7QVUJ);
}
.rootcolor_link:focus-within .slotTargetChildrencolor_link > *,
.rootcolor_link:focus-within
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > *,
.rootcolor_link:focus-within
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_link:focus-within
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.rootcolor_link:focus-within .slotTargetChildrencolor_link > picture > img,
.rootcolor_link:focus-within
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_link:focus-within
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.rootcolor_link:focus-within
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin {
  color: var(--token-DxfYAkV7QVUJ);
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_linkDefaultText {
  color: #0091ff;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.rootcolor_linkDefaultText:hover .slotTargetEndIconcolor_linkDefaultText {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.svg__jfzrT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-iWQmILTzm3N0);
}
