.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 0px;
  padding-left: 0px;
  background: var(--token-JcPW8Eh959DY);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
  height: calc(100% + var(--token-Tf_KtjkxGdsv));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-Tf_KtjkxGdsv);
}
@media (max-width: 991px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
  }
}
@media (max-width: 991px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
    height: calc(100% + var(--token-Tf_KtjkxGdsv));
  }
}
@media (max-width: 991px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-Tf_KtjkxGdsv);
  }
}
.rootglobal_mode_darkMode {
  background: var(--token-JcPW8Eh959DY);
}
.freeBox__g2Ycr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 0px;
}
@media (max-width: 991px) {
  .freeBox__g2Ycr {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.headerLeftItems {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 50px;
  max-width: 70%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.headerLeftItems > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-Tf_KtjkxGdsv));
  width: calc(100% + var(--token-Tf_KtjkxGdsv));
}
.headerLeftItems > :global(.__wab_flex-container) > *,
.headerLeftItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerLeftItems > :global(.__wab_flex-container) > picture > img,
.headerLeftItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Tf_KtjkxGdsv);
}
@media (max-width: 991px) {
  .headerLeftItems {
    max-width: 57%;
    height: 44px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 991px) {
  .headerLeftItems > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
.freeBox__j4Dz5 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 991px) {
  .freeBox__j4Dz5 {
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px;
  }
}
.svg__ve6Tw {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
  display: none;
}
@media (max-width: 991px) {
  .svg__ve6Tw {
    display: block;
  }
}
.svgglobal_mode_darkMode__ve6TwMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.logo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 35px;
  width: 120px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.shopNowButton:global(.__wab_instance) {
  max-width: auto;
  position: relative;
  width: 150px;
  height: 45px;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .shopNowButton:global(.__wab_instance) {
    display: none;
  }
}
.drawerCategories2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
}
@media (max-width: 991px) {
  .textInput:global(.__wab_instance) {
    height: 100%;
    min-height: 0;
    display: none;
  }
}
.svg__bHkMu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z0EZb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.headerRightItems {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 50px;
  max-width: 40%;
  left: auto;
  top: auto;
  padding: 0px;
}
@media (max-width: 991px) {
  .headerRightItems {
    left: auto;
    top: auto;
    height: auto;
  }
}
.freeBox__ezaBb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 50px;
  padding: 8px;
}
.svg___6N6J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-TpmbTrq5hCAj);
  flex-shrink: 0;
}
.svgglobal_mode_darkMode___6N6JMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.svg__w6HEd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-TpmbTrq5hCAj);
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__w6HEdMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.account {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 8px;
}
@media (max-width: 991px) {
  .account {
    display: none;
  }
}
.icon {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
.iconglobal_mode_darkMode {
  color: var(--token-0pLHWnYhePL5);
}
.freeBox__kv9Fg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px 8px;
}
@media (max-width: 991px) {
  .freeBox__kv9Fg {
    display: none;
  }
}
.text___4Te6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode___4Te6Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.text__z1Nrh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__z1NrhMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.cart {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-height: 40px;
  cursor: pointer;
  padding: 0px 8px;
}
.svg__zuvUk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 20px;
  height: 20px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .svg__zuvUk {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
.svgglobal_mode_darkMode__zuvUkMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.freeBox__bgIvy {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 16px;
  height: 16px;
  max-width: 100%;
  background: var(--token-iWQmILTzm3N0);
  left: 20px;
  top: -8px;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
}
@media (max-width: 991px) {
  .freeBox__bgIvy {
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    left: 24px;
    top: -6px;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox__bgIvy {
    top: -6px;
    left: 24px;
  }
}
.text__rZzUx {
  position: absolute;
  width: auto;
  height: auto;
  max-width: auto;
  left: 4.5px;
  top: 0px;
  font-size: 12px;
  color: var(--token-Yq556PvPjGii);
}
.drawerCart:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__qh9YO {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 45px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 991px) {
  .freeBox__qh9YO {
    height: 100%;
    min-height: 0;
  }
}
.mainSearch:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
  display: none;
}
@media (max-width: 991px) {
  .mainSearch:global(.__wab_instance) {
    display: flex;
  }
}
.svg___4ZoxV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__acCdc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sDyMl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 35px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
@media (max-width: 991px) {
  .freeBox__sDyMl {
    display: none;
  }
}
.freeBoxglobal_mode_darkMode__sDyMlMcwt {
  border-bottom-color: var(--token-2w1UGLt0EBaJ);
}
.freeBox__lOqAc {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 35px;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__lOqAc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lOqAc > :global(.__wab_flex-container) > *,
.freeBox__lOqAc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lOqAc > :global(.__wab_flex-container) > picture > img,
.freeBox__lOqAc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.hotDeals {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  cursor: pointer;
  position: relative;
  transition-property: border;
  transition-duration: 1s;
  transition-delay: -1s;
  min-height: 0;
  -webkit-transition-property: border;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: -1s;
  padding: 0px;
}
.hotDeals > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.hotDeals > :global(.__wab_flex-container) > *,
.hotDeals > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hotDeals > :global(.__wab_flex-container) > picture > img,
.hotDeals
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.root .hotDeals:hover {
  color: var(--token-b54tAmlgUaXe);
  border-bottom: 2px solid var(--token-hb610yGAurc2);
}
.svg__kmrhi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__kmrhiMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.text__wYaU6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__wYaU6Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.whatsNew {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  cursor: pointer;
  position: relative;
  transition-property: border;
  transition-duration: 1s;
  transition-delay: -1s;
  min-height: 0;
  -webkit-transition-property: border;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: -1s;
  padding: 0px;
}
.whatsNew > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.whatsNew > :global(.__wab_flex-container) > *,
.whatsNew > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.whatsNew > :global(.__wab_flex-container) > picture > img,
.whatsNew
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.root .whatsNew:hover {
  color: var(--token-b54tAmlgUaXe);
  border-bottom: 2px solid var(--token-hb610yGAurc2);
}
.svg___7EvP3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.svgglobal_mode_darkMode___7EvP3Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.text__uhKHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__uhKHfMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.bestsellers {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  cursor: pointer;
  position: relative;
  transition-property: border;
  transition-duration: 1s;
  transition-delay: -1s;
  min-height: 0;
  -webkit-transition-property: border;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: -1s;
  padding: 0px;
}
.bestsellers > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.bestsellers > :global(.__wab_flex-container) > *,
.bestsellers > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bestsellers > :global(.__wab_flex-container) > picture > img,
.bestsellers
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.root .bestsellers:hover {
  color: var(--token-b54tAmlgUaXe);
  border-bottom: 2px solid var(--token-hb610yGAurc2);
}
.svg__vjc5F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 18px;
  height: 18px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__vjc5FMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.text__cQfqr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__cQfqrMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.freeBox__wesPs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wesPs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__wesPs > :global(.__wab_flex-container) > *,
.freeBox__wesPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wesPs > :global(.__wab_flex-container) > picture > img,
.freeBox__wesPs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.helpCenter {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  cursor: pointer;
  position: relative;
  transition-property: border;
  transition-duration: 1s;
  transition-delay: -1s;
  min-height: 0;
  -webkit-transition-property: border;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: -1s;
  padding: 0px 4px;
}
.helpCenter > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.helpCenter > :global(.__wab_flex-container) > *,
.helpCenter > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.helpCenter > :global(.__wab_flex-container) > picture > img,
.helpCenter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.root .helpCenter:hover {
  color: var(--token-b54tAmlgUaXe);
  border-bottom: 2px solid var(--token-hb610yGAurc2);
}
.text__edXn5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  padding-top: 0px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__edXn5Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.trackOrder {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  max-width: 100%;
  color: var(--token-kzT08fQBAHgz);
  cursor: pointer;
  position: relative;
  transition-property: border;
  transition-duration: 1s;
  transition-delay: -1s;
  min-height: 0;
  -webkit-transition-property: border;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: -1s;
  padding: 0px 4px;
}
.trackOrder > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.trackOrder > :global(.__wab_flex-container) > *,
.trackOrder > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.trackOrder > :global(.__wab_flex-container) > picture > img,
.trackOrder
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.root .trackOrder:hover {
  color: var(--token-b54tAmlgUaXe);
  border-bottom: 2px solid var(--token-hb610yGAurc2);
}
.text__ahvRj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__ahvRjMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button:global(.__wab_instance) {
  max-height: 34px;
}
.text__w09XR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.textglobal_mode_darkMode__w09XRMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.svg__gqye {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-iWQmILTzm3N0);
}
.svg__aBapX {
  position: relative;
  object-fit: cover;
  width: 14px;
  height: 12px;
  color: #53535399;
  margin-top: 4px;
}
.sliderCarousel__nJjpt:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__lllz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.freeBox__noZr6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: auto;
  max-height: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uApW {
  object-fit: contain;
  max-width: auto;
  max-height: 200px;
  position: relative;
  left: auto;
  top: auto;
}
.img__uApW > picture > img {
  object-fit: contain;
}
.freeBox__oRwe1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__oyqRd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-0pLHWnYhePL5);
  font-weight: 500;
  text-align: left;
  min-width: 0;
}
.drawerAccount:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
