.footer {
  display: grid;
  align-content: flex-end;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: var(--token-as44I7WwR-rZ);
  position: relative;
  max-width: auto;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.footer > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 640px) {
  .footer > * {
    grid-column: 4;
  }
}
.footerglobal_mode_darkMode {
  background: var(--token-ZJyLUvieIUmG);
}
.footerglobal_mode_darkMode > * {
  grid-column: 4;
}
.freeBox__sSjoj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1400px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 24px 8px 8px;
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
.columns__pmRsm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-width: 1px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 24px;
  border-style: solid;
  border-color: var(--token-Pxe4wDL2kJpb);
}
.columns__pmRsm > :nth-child(5n + 1) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__pmRsm > :nth-child(5n + 2) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.columns__pmRsm > :nth-child(5n + 3) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__pmRsm > :nth-child(5n + 4) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__pmRsm > :nth-child(5n + 5) {
  width: calc((100% - 5 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns__pmRsm {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns__pmRsm > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsglobal_mode_darkMode__pmRsmMcwt {
  padding-bottom: 24px;
  border-bottom-color: var(--token-2w1UGLt0EBaJ);
}
.column__vd61A {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__vd61A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__vd61A > :global(.__wab_flex-container) > *,
.column__vd61A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vd61A > :global(.__wab_flex-container) > picture > img,
.column__vd61A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.text__agJhr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__agJhrMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.text__pf4D1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__pf4D1Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.freeBox__zxyAt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(16px + 8px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__zxyAt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zxyAt > :global(.__wab_flex-container) > *,
.freeBox__zxyAt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zxyAt > :global(.__wab_flex-container) > picture > img,
.freeBox__zxyAt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__tr0Vr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__tr0VrMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.svg__pq6Vu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__pq6VuMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.svg__uUt0P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__uUt0PMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.svg__wCnVu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.svgglobal_mode_darkMode__wCnVuMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.column__foyCk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 991px) {
  .column__foyCk {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .column__foyCk {
    display: flex;
  }
}
.getToKnowUsMobile:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: 12px;
  display: flex;
  color: var(--token-Tk0TTsJRNx11);
  flex-direction: column;
  min-width: 0;
}
.pcls_n2AQPbCb1TWp {
  outline: none;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .getToKnowUsMobile:global(.__wab_instance) {
    display: flex;
  }
}
.getToKnowUsMobileglobal_mode_darkMode:global(.__wab_instance) {
  background: var(--token-JcPW8Eh959DY);
}
.h6__aIrJm {
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 0px) and (max-width: 640px) {
  .h6__aIrJm {
    left: auto;
    top: auto;
    color: var(--token-v6Y1bbJ1XVHv);
    font-weight: 500;
  }
}
.h6global_mode_darkMode__aIrJmMcwt {
  color: var(--token-DbGdjBpQ6R_X);
  left: auto;
  top: auto;
}
.freeBox__ua7Pd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ua7Pd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ua7Pd > :global(.__wab_flex-container) > *,
.freeBox__ua7Pd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ua7Pd > :global(.__wab_flex-container) > picture > img,
.freeBox__ua7Pd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__yo2F {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__yo2FMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__yo2F:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__nWyzg {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__nWyzgMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__nWyzg:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link___5QLlt {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___5QLltMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___5QLlt:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.customerServiceMobile:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.pcls_4CamOrqaF2Kd {
  outline: none;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .customerServiceMobile:global(.__wab_instance) {
    display: flex;
  }
}
.customerServiceMobileglobal_mode_darkMode:global(.__wab_instance) {
  background: var(--token-JcPW8Eh959DY);
}
.h6__l1Lyr {
  position: relative;
  font-weight: 500;
  color: var(--token-v6Y1bbJ1XVHv);
}
.h6global_mode_darkMode__l1LyrMcwt {
  color: var(--token-as44I7WwR-rZ);
}
.freeBox__noNom {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__noNom > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__noNom > :global(.__wab_flex-container) > *,
.freeBox__noNom > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__noNom > :global(.__wab_flex-container) > picture > img,
.freeBox__noNom
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link___6F13T {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___6F13TMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___6F13T:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__fyBtZ {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__fyBtZMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__fyBtZ:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link___6AYt9 {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___6AYt9Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___6AYt9:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__a74Wz {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__a74WzMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__a74Wz:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.ordersReturnsMobile2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.pcls_XmMFLySsyxBF {
  outline: none;
  border-radius: 4px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .ordersReturnsMobile2:global(.__wab_instance) {
    display: flex;
  }
}
.ordersReturnsMobile2global_mode_darkMode:global(.__wab_instance) {
  background: var(--token-JcPW8Eh959DY);
}
.h6__ksSd {
  position: relative;
  font-weight: 500;
  color: var(--token-v6Y1bbJ1XVHv);
}
.h6global_mode_darkMode__ksSdMcwt {
  color: var(--token-as44I7WwR-rZ);
}
.freeBox__x803V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__x803V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__x803V > :global(.__wab_flex-container) > *,
.freeBox__x803V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x803V > :global(.__wab_flex-container) > picture > img,
.freeBox__x803V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link___5JjzD {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___5JjzDMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___5JjzD:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__kyqYv {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__kyqYvMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__kyqYv:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link___0V7Ux {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___0V7UxMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___0V7Ux:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__arvuy {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__arvuyMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__arvuy:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.getToKnowUs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.getToKnowUs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.getToKnowUs > :global(.__wab_flex-container) > *,
.getToKnowUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.getToKnowUs > :global(.__wab_flex-container) > picture > img,
.getToKnowUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h6___1CMrz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-v6Y1bbJ1XVHv);
  min-width: 0;
}
.h6global_mode_darkMode___1CMrzMcwt {
  color: var(--token-DbGdjBpQ6R_X);
}
.freeBox__fMyR4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fMyR4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fMyR4 > :global(.__wab_flex-container) > *,
.freeBox__fMyR4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fMyR4 > :global(.__wab_flex-container) > picture > img,
.freeBox__fMyR4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__wEp1 {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__wEp1Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__wEp1:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__oyNwC {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__oyNwCMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__oyNwC:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__xDOi4 {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__xDOi4Mcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__xDOi4:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.ordersReturns {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.ordersReturns > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.ordersReturns > :global(.__wab_flex-container) > *,
.ordersReturns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ordersReturns > :global(.__wab_flex-container) > picture > img,
.ordersReturns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .ordersReturns {
    display: none;
  }
}
.h6__jxWux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-v6Y1bbJ1XVHv);
  min-width: 0;
}
.h6global_mode_darkMode__jxWuxMcwt {
  color: var(--token-DbGdjBpQ6R_X);
}
.freeBox__bf6Fz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bf6Fz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__bf6Fz > :global(.__wab_flex-container) > *,
.freeBox__bf6Fz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bf6Fz > :global(.__wab_flex-container) > picture > img,
.freeBox__bf6Fz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__xi7Jw {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__xi7JwMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__xi7Jw:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link___7J2Zt {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___7J2ZtMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___7J2Zt:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__a5Aii {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__a5AiiMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__a5Aii:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__iXJni {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__iXJniMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__iXJni:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.customerService {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.customerService > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.customerService > :global(.__wab_flex-container) > *,
.customerService > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.customerService > :global(.__wab_flex-container) > picture > img,
.customerService
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .customerService {
    display: none;
  }
}
.h6__yHp5J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  color: var(--token-v6Y1bbJ1XVHv);
  min-width: 0;
}
.h6global_mode_darkMode__yHp5JMcwt {
  color: #ededed;
}
.freeBox___4KG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___4KG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4KG > :global(.__wab_flex-container) > *,
.freeBox___4KG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4KG > :global(.__wab_flex-container) > picture > img,
.freeBox___4KG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.link__eCjj {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__eCjjMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__eCjj:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__eTahs {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__eTahsMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__eTahs:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link___2L1Nd {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode___2L1NdMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link___2L1Nd:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__wrzWq {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__wrzWqMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__wrzWq:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.createAccount {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.createAccountglobal_mode_darkMode {
  color: var(--token-0pLHWnYhePL5);
}
.footer .createAccount:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.columns__oiti1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 24px 8px 8px;
}
.columns__oiti1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__oiti1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns__oiti1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns__oiti1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qlEhL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__idywZ {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 30px;
  min-width: 0;
  padding: 0px;
}
.freeBox__idywZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__idywZ > :global(.__wab_flex-container) > *,
.freeBox__idywZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__idywZ > :global(.__wab_flex-container) > picture > img,
.freeBox__idywZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.link__tElmo {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__tElmoMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__tElmo:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__cBGw {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__cBGwMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__cBGw:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.link__jSy0N {
  position: relative;
  color: var(--token-Tk0TTsJRNx11);
  font-weight: 400;
  width: auto;
}
.linkglobal_mode_darkMode__jSy0NMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.footer .link__jSy0N:hover {
  color: var(--token-DxfYAkV7QVUJ);
}
.column__dcrSe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__juXno {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .freeBox__juXno {
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
  }
}
.visa {
  object-fit: cover;
  max-width: auto;
  width: 70px;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 70px;
  filter: grayscale(100%);
  cursor: pointer;
}
.visaglobal_mode_darkMode {
  filter: grayscale(100%);
}
.footer .visa:hover {
  filter: unset;
}
.mastecard {
  position: relative;
  object-fit: cover;
  max-width: auto;
  width: 70px;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 70px;
  filter: grayscale(100%);
  cursor: pointer;
}
.footer .mastecard:hover {
  filter: unset;
}
.mPesa {
  position: relative;
  object-fit: cover;
  max-width: auto;
  width: 70px;
  height: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 70px;
  filter: grayscale(100%);
  cursor: pointer;
}
.footer .mPesa:hover {
  filter: unset;
}
.columns__m2JdS {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 12px 8px 8px;
}
.columns__m2JdS > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__m2JdS > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns__m2JdS {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .columns__m2JdS > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ytlWz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__bpQ0Z {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__bpQ0Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__bpQ0Z > :global(.__wab_flex-container) > *,
.freeBox__bpQ0Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bpQ0Z > :global(.__wab_flex-container) > picture > img,
.freeBox__bpQ0Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__teYke {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.textglobal_mode_darkMode__teYkeMcwt {
  color: var(--token-0pLHWnYhePL5);
}
.column__iw6G {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__yrBy7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
