.drawerCategories:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  background: var(--token-JcPW8Eh959DY);
}
.drawerCategories__drawer :global(.ant-drawer-header) {
  background: var(--token-x2JQ1lipd_zU);
  outline: none;
}
.drawerCategories__drawer :global(.ant-drawer-close) {
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  position: absolute;
  color: var(--token-Tk0TTsJRNx11);
  margin-top: 18px;
  outline: none;
  padding: 4px;
}
.drawerCategories__drawer :global(.ant-drawer-mask) {
  background: #81818140;
  outline: none;
}
.drawerCategories__drawer :global(.ant-drawer-content-wrapper) {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  min-width: 400px;
  outline: none;
}
@media (min-width: 0px) and (max-width: 640px) {
  .drawerCategories:global(.__wab_instance) {
    width: auto;
    justify-self: flex-start;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .drawerCategories__drawer :global(.ant-drawer-content-wrapper) {
    width: auto;
    min-width: auto;
    outline: none;
  }
}
.freeBox__uVk5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uVk5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__uVk5 > :global(.__wab_flex-container) > *,
.freeBox__uVk5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uVk5 > :global(.__wab_flex-container) > picture > img,
.freeBox__uVk5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__jiuqa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jiuqa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-cSJ2BJk-9JCq));
  height: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.freeBox__jiuqa > :global(.__wab_flex-container) > *,
.freeBox__jiuqa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jiuqa > :global(.__wab_flex-container) > picture > img,
.freeBox__jiuqa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-cSJ2BJk-9JCq);
}
.link__otNCt {
  position: relative;
  width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
  padding: 4px 8px;
}
.drawerCategories .link__otNCt:hover {
  background: var(--token-x2JQ1lipd_zU);
  color: var(--token-jULyYuL3e-TL);
}
.link__coFgq {
  position: relative;
  width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
  padding: 4px 8px;
}
.drawerCategories .link__coFgq:hover {
  background: var(--token-x2JQ1lipd_zU);
  color: var(--token-jULyYuL3e-TL);
}
.link__zyoxd {
  position: relative;
  width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
  padding: 4px 8px;
}
.drawerCategories .link__zyoxd:hover {
  background: var(--token-x2JQ1lipd_zU);
  color: var(--token-jULyYuL3e-TL);
}
.categories {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-Tf_KtjkxGdsv);
  padding-top: 12px;
  padding-bottom: 12px;
  min-width: 0;
  border-top: 1px solid var(--token-Pxe4wDL2kJpb);
  border-bottom: 1px solid var(--token-Pxe4wDL2kJpb);
}
.categories > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-cSJ2BJk-9JCq));
  height: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.categories > :global(.__wab_flex-container) > *,
.categories > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.categories > :global(.__wab_flex-container) > picture > img,
.categories
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-cSJ2BJk-9JCq);
}
.shopByCategory {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: var(--token-v6Y1bbJ1XVHv);
  min-width: 0;
}
.category1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 8px;
}
.drawerCategories .category1:hover {
  background: var(--token-x2JQ1lipd_zU);
  padding-left: 8px;
  border-radius: 4px;
}
.freeBox__fpes {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__fpes > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fpes > :global(.__wab_flex-container) > *,
.freeBox__fpes > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fpes > :global(.__wab_flex-container) > picture > img,
.freeBox__fpes
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xrbT0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text__hNu2K {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.svg__iGyDp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: var(--token-y50Rafqey4Ec);
}
.svgglobal_mode_darkMode__iGyDpMcwt {
  color: var(--token-LN1YkB123lXQ);
}
.category2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 8px;
}
.drawerCategories .category2:hover {
  background: var(--token-x2JQ1lipd_zU);
  padding-left: 8px;
  border-radius: 4px;
}
.freeBox__hpYm8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hpYm8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hpYm8 > :global(.__wab_flex-container) > *,
.freeBox__hpYm8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hpYm8 > :global(.__wab_flex-container) > picture > img,
.freeBox__hpYm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__yqWu3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text__tXp2P {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.svg__sQTxX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: var(--token-y50Rafqey4Ec);
}
.svgglobal_mode_darkMode__sQTxXMcwt {
  color: var(--token-LN1YkB123lXQ);
}
.category3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 8px;
}
.drawerCategories .category3:hover {
  background: var(--token-x2JQ1lipd_zU);
  border-radius: 4px;
}
.freeBox__s7DYh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__s7DYh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__s7DYh > :global(.__wab_flex-container) > *,
.freeBox__s7DYh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7DYh > :global(.__wab_flex-container) > picture > img,
.freeBox__s7DYh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___6BMw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Tk0TTsJRNx11);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__pBkt2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.svg__eC6B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: var(--token-y50Rafqey4Ec);
}
.svgglobal_mode_darkMode__eC6BMcwt {
  color: var(--token-LN1YkB123lXQ);
}
.category4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 8px;
}
.drawerCategories .category4:hover {
  background: var(--token-x2JQ1lipd_zU);
  border-radius: 4px;
}
.freeBox__n1EfK {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__n1EfK > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__n1EfK > :global(.__wab_flex-container) > *,
.freeBox__n1EfK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n1EfK > :global(.__wab_flex-container) > picture > img,
.freeBox__n1EfK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__mcc5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text__mBkoz {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.svg__jNavI {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: var(--token-y50Rafqey4Ec);
}
.svgglobal_mode_darkMode__jNavIMcwt {
  color: var(--token-LN1YkB123lXQ);
}
.category5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 10px 8px;
}
.drawerCategories .category5:hover {
  background: var(--token-x2JQ1lipd_zU);
  border-radius: 4px;
}
.freeBox__e8RdD {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__e8RdD > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__e8RdD > :global(.__wab_flex-container) > *,
.freeBox__e8RdD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e8RdD > :global(.__wab_flex-container) > picture > img,
.freeBox__e8RdD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ygtHs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  color: var(--token-Tk0TTsJRNx11);
  flex-shrink: 0;
}
.text__xbsrR {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: var(--token-Tk0TTsJRNx11);
  min-width: 0;
}
.svg__gicY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 10px;
  color: var(--token-y50Rafqey4Ec);
}
.svgglobal_mode_darkMode__gicYMcwt {
  color: var(--token-LN1YkB123lXQ);
}
.title {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.title > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-oYI7ebdZitcv));
  width: calc(100% + var(--token-oYI7ebdZitcv));
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-oYI7ebdZitcv);
}
.svg__w0JUl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 20px;
  color: var(--token-v6Y1bbJ1XVHv);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__xrIr9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rDxa {
  font-size: 16px;
  font-weight: 600;
  color: var(--token-v6Y1bbJ1XVHv);
}
.text__yfbeq {
  font-size: 16px;
  font-weight: 600;
  color: var(--token-v6Y1bbJ1XVHv);
}
