.root {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .root {
    width: 100px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  width: 85px;
  height: 85px;
  max-width: 100%;
  background: var(--token-DbGdjBpQ6R_X);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
@media (max-width: 991px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 15px;
  z-index: 1;
  width: auto;
  height: auto;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 991px) {
  .img {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 15px;
  text-align: center;
  color: var(--token-Tk0TTsJRNx11);
}
