.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 105px;
  max-height: 30px;
  position: relative;
  border-radius: 4px;
  padding: 0px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.button__yp29N:global(.__wab_instance) {
  max-width: 30px;
  object-fit: cover;
  position: relative;
  max-height: 30px;
}
.svg___88P49 {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 6px;
  top: 5px;
  width: 16px;
  height: 20px;
  color: var(--token-pRs3-4jrQ4XQ);
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 2px;
}
.text {
  width: 20px;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}
.textglobal_mode_darkMode {
  color: var(--token-Tk0TTsJRNx11);
}
.button___9Uphu:global(.__wab_instance) {
  max-width: 30px;
  object-fit: cover;
  position: relative;
  display: block;
  height: 100%;
  max-height: 30px;
  min-height: 0;
}
.svg__bbzMl {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  color: var(--token-iWQmILTzm3N0);
}
